<h1>Pet Store!</h1>

<div class="list">
<% @products.each do |product| %>
  <h2><%= link_to product.name, "/products/#{product.id}" %></h2>
  <p>Description: <%= product.description %></p>
  <p>Price: <%= product.price %></p>
  <p>Stock: <%= product.stock %></p>
  <p>Image: <%= product.image %></p>
  <br>
<% end %>
</div>


